* {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 0px 1px 5px rgb(195, 189, 221);  
}

.ItemListContainer {
  margin-top: 3rem;

}

body {
  background-color: black;
  padding: 20px;
  background-image: url(./images/two-background.jpg);

}

h1 {
  margin-top: 2rem;
  text-align: center;  
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-shadow: 0 0 5px yellowgreen, 0 0 15px yellowgreen, 0 0 30px yellowgreen, 0 0 50px yellowgreen;
}

.ItemList {
  display: flex;
  flex-wrap: wrap;
}

.Card {
  width: 16rem;
  height: 33rem;
  margin: 15px;
  transition: all 400ms ease;
  background-color:  rgb(153, 50, 204); /*  rgb(171, 70, 175); */
  border-radius: 20px;
  border-color: aliceblue;
  font-size: .8rem ;
  display: flex;
  flex-direction: column;
}

.Card:hover{
  box-shadow: 5px 5px 20px white;
  transform: translateY(-3%);

}

.CardText{
  height: 8rem;
}

.CardImg {
  width:230px ;
  height:280px ;
  border-radius: 30px;
} 

.loading {
  margin-top: 2rem;
  text-align: center;  
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
}

.buttoncontainer {
  background-color:rgb(34, 34, 168);
  border-radius: 1rem;
  font-size: .8rem;  
  transition: 400ms;  
}

.buttoncontainer:hover {
  background-color:rgb(4, 4, 168); 
  box-shadow: 2px 2px 2px white;
  border: none;
}